{% extends 'base/base.html' %}
{% load static %}

{% block content %}

    {% include 'partials/breadcrumb.html' with title='About' %}

    <section class="ftco-section bg-light">
        <div class="col-md-12 text-center">
        <h4>White Rose Hotel is one of the oldest hotels in Syria. Thirty years of unparalleled service and quality
            Our hotel is located in the center of the province of Daraa, where it enjoys a green view from the east and is close to all services and the shopping center
            All our customers are fully satisfied, we offer the best services at the lowest prices
            Our first and last goal is customer satisfaction</h4></div>
    </section>
{% endblock content %}