{% extends 'base/base.html' %}
{% load static %}

{% block content %}

    <div class="hero-wrap js-fullheight" style="background-image: url({% static 'base/' %}images/hh.jpg);"
         data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
                 data-scrollax-parent="true">
                <div class="col-md-7 ftco-animate">
                    <h2 class="subheading">Welcome</h2>
                    <h1 class="mb-4">Rent a room for your vacation</h1>
                    <p><a href="#" class="btn btn-secondary">Learn more</a> <a href="#" class="btn btn-white">Contact
                        us</a></p>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section ftco-book ftco-no-pt ftco-no-pb">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-4">
                    <form action="{% url 'booking:check_available_rooms_by_number' %}" class="appointment-form" method="post">
                        {% csrf_token %}
                        <h3 class="mb-3">Check room availability</h3>
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-field">
                                        <div class="select-wrap">
                                            <div class="icon"><span class="fa fa-chevron-down"></span></div>
                                            <select name="adults" id="" class="form-control">
                                                <option value="1">Adults</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-field">
                                        <div class="select-wrap">
                                            <div class="icon"><span class="fa fa-chevron-down"></span></div>
                                            <select name="children" id="" class="form-control">
                                                <option value="0">Children</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="submit" value="Check Availability" class="btn btn-secondary py-3 px-4">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

  


    <section class="ftco-section testimony-section bg-light">
        <div class="container">
            <div class="row justify-content-center pb-5 mb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <h2>Happy Clients &amp; Feedbacks</h2>
                </div>
            </div>
            <div class="row ftco-animate">
                <div class="col-md-12">
                    <div class="carousel-testimony owl-carousel">
                        <div class="item">
                            <div class="testimony-wrap d-flex">
                                <div class="user-img"
                                     style="background-image: url({% static 'base/' %}images/person_1.jpg)">
                                </div>
                                <div class="text pl-4">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="fa fa-quote-left"></i>
									</span>
                                    <p>we spent 3 glorious days. Very polite staff , smart hotel , good foods ,excellent spa.</p>
                                    <p class="name">Hazem AlAwad</p>
                                    <span class="position">Businessman</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap d-flex">
                                <div class="user-img"
                                     style="background-image: url({% static 'base/' %}images/person_2.jpg)">
                                </div>
                                <div class="text pl-4">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="fa fa-quote-left"></i>
									</span>
                                    <p>The hotel is new and with all the amenities. The rooms are ample and comfortable. </p>
                                    <p class="name">Tarek Abo Asad</p>
                                    <span class="position">Actor</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap d-flex">
                                <div class="user-img"
                                     style="background-image: url({% static 'base/' %}images/lamar.jpg)">
                                </div>
                                <div class="text pl-4">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="fa fa-quote-left"></i>
									</span>
                                    <p>Wonderful hotel in every sense of the word I always spend my time here</p>
                                    <p class="name">Lamar ibrahim</p>
                                    <span class="position">Baby</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-intro" style="background-image: url({% static 'base/' %}images/hh.jpg);"
             data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 text-center">
                    <h2>Ready to get started</h2>
                    <p class="mb-0"><a href="#" class="btn btn-secondary px-4 py-3">Book now</a> <a href="#"
                                                                                                  class="btn btn-white px-4 py-3">Contact
                        us</a></p>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}